/* Header/logo Title */

.header {
    background-color: #FFDD17;
    font-size: 30px;
}

.header::after {
    content: "";
    clear: both;
    display: table;
}

.banner {
    height: 300px;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 750px 400px;
    background-image: url(../image/banner.png);
    background-color: #FFDD17;
    /* margin-top: 50px; */
    font-size: 30px;
    margin: 0;
    text-align: center;
}

.banner-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.account_logo {
    border-radius: 50px 50px;
    width: 50px;
    height: 50px;
    background-color: #f1f1f1;
    background-image: url(../image/account_logo.png);
    background-size: 50px 50px;
    background-position: center;
    margin-left: 50px;
    margin-top: 10px;
    float: left;
}

.account_name {
    float: left;
    margin-top: 5%;
    padding-left: 5%;
}

.account {
    text-align: right;
    width: 20%;
    float: left;
    /* background-color: aquamarine; */
    margin-left: 10%;
}

.headermajor {
    height: 100px;
    width: 45%;
    float: left;
    /* background-color: bisque; */
}


/* footer */

.footer::after {
    content: "";
    display: table;
    clear: both;
}

.footer {
    height: 300px;
}

.footer_column_contact {
    float: left;
    width: 50%;
    padding: 50px;
    height: 300px;
    padding-left: 10%;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.footer_column_logo {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px;
}